@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-input {
        @apply w-60 block rounded-lg mb-2;
    }

    .meme {
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    .meme-header {
        @apply mb-4 flex flex-row rounded-lg p-4 shadow-lg;
        background-color: #E76F51;
    }
    .template-search {
        @apply mb-4 flex flex-row rounded-lg pb-2 pt-4 px-4 shadow-lg;
        background-color: #E76F51;
    }   

    .main-background {
        @apply m-0 p-0 min-h-screen;
        background-color: #F4A261;
    }

    .debug {
        border-width:3px; border-style:solid; border-color:#FF0000;
    }

    .meme-text {
        cursor: move;
        font-family: impact;
        font-size: 2.5em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:2px 2px 0px #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0px 2px 0 #000,
            2px 0px 0 #000,
            0px -2px 0 #000,
            -2px 0px 0 #000,
            2px 2px 5px #000;
        display: inline-block;
    }
}
